@tailwind base;
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #27272a;
}

*::-webkit-scrollbar-thumb {
  background-color: #fef2f2;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;